# Prerequisites
*.d
*.dev
*.layout
*.win

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf
GL/glut-7.6-3.DevPak
GL/glut.def
GL/glut.h
GL/include/GL.H
GL/include/GL/GL.H
GL/include/GL/GLAUX.H
GL/include/GL/GLU.H
GL/include/GL/MSCREATE.DIR
GL/include/GL/glext.h
GL/include/GL/glu_.h
GL/include/GL/glut.h
GL/include/GLAUX.H
GL/include/GLU.H
Task7b/.metadata/.lock
Task7b/.metadata/.log
Task7b/.metadata/.mylyn/repositories.xml.zip
Task7b/.metadata/.plugins/org.eclipse.cdt.core/.log
Task7b/.metadata/.plugins/org.eclipse.cdt.core/Task7b.1488545580805.pdom
Task7b/.metadata/.plugins/org.eclipse.cdt.core/Task7b.language.settings.xml
Task7b/.metadata/.plugins/org.eclipse.cdt.core/shareddefaults.xml
Task7b/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
Task7b/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
Task7b/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/Task7b/1300235314
Task7b/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/Task7b/Task7b
Task7b/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
Task7b/.metadata/.plugins/org.eclipse.cdt.ui/Task7b.build.log
Task7b/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
Task7b/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
Task7b/.metadata/.plugins/org.eclipse.core.resources/.history/51/40216b2f160000171296814051aced47
Task7b/.metadata/.plugins/org.eclipse.core.resources/.history/6/60f2fe5e110000171296814051aced47
Task7b/.metadata/.plugins/org.eclipse.core.resources/.history/66/20bee4f0170000171296814051aced47
Task7b/.metadata/.plugins/org.eclipse.core.resources/.history/a6/e0111e79100000171296814051aced47
Task7b/.metadata/.plugins/org.eclipse.core.resources/.history/af/90e1f7d8100000171296814051aced47
Task7b/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
Task7b/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
Task7b/.metadata/.plugins/org.eclipse.core.resources/.projects/Task7b/.indexes/af/history.index
Task7b/.metadata/.plugins/org.eclipse.core.resources/.projects/Task7b/.indexes/history.index
Task7b/.metadata/.plugins/org.eclipse.core.resources/.projects/Task7b/.indexes/properties.index
Task7b/.metadata/.plugins/org.eclipse.core.resources/.projects/Task7b/.markers
Task7b/.metadata/.plugins/org.eclipse.core.resources/.projects/Task7b/org.eclipse.egit.core/GitProjectData.properties
Task7b/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Task7b/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Task7b/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Task7b/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
Task7b/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-Task7b.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.llvm.ui.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.mylyn.ui.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prj-Task7b.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.net.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.variables.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.ui.controls.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.oomph.workingsets.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Task7b/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Task7b/.metadata/.plugins/org.eclipse.debug.core/.launches/Task7b.launch
Task7b/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
Task7b/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
Task7b/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments.gen
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments_1
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
Task7b/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
Task7b/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/devhelp.libhover
Task7b/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/glibc_library.libhover
Task7b/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Task7b/.metadata/.plugins/org.eclipse.rse.core/.log
Task7b/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
Task7b/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.tobi_8/FP.local.files_0/node.properties
Task7b/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.tobi_8/H.local_16/node.properties
Task7b/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.tobi_8/node.properties
Task7b/.metadata/.plugins/org.eclipse.rse.ui/.log
Task7b/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
Task7b/.metadata/.plugins/org.eclipse.ui.intro/introstate
Task7b/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Task7b/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Task7b/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
Task7b/.metadata/version.ini
Task7b/RemoteSystemsTempFiles/.project
Task7b/Task7b.c
Task7b/Task7b/.cproject
Task7b/Task7b/.gitignore
Task7b/Task7b/.project
Task7b/Task7b/.settings/language.settings.xml
Task7b/Task7b/.settings/org.eclipse.cdt.managedbuilder.core.prefs
Task7b/Task7b/Task_7b.c
Task7b/glut/glut-7.6-3.DevPak
Task7b/glut/glut.def
Task7b/glut/glut.h
Task7b/glut/include/GL.H
Task7b/glut/include/GL/GL.H
Task7b/glut/include/GL/GLAUX.H
Task7b/glut/include/GL/GLU.H
Task7b/glut/include/GL/MSCREATE.DIR
Task7b/glut/include/GL/glext.h
Task7b/glut/include/GL/glu_.h
Task7b/glut/include/GL/glut.h
Task7b/glut/include/GLAUX.H
Task7b/glut/include/GLU.H
